<section class="black-theme-background">
  <div class="container container-benefits">
    <div class="benefits-row">
      <div class="benefits-col-8 benefits-col-tablet-12 benefits-col-mobile-12">
        <div class="benefits-decor-image-container">
          <img src="./img/benefits/decor-bg-3.svg">
        </div>
        <h2 class="black-theme-text"><span class="accet-green">Benefits</span> of working with me</h2>
      </div>
    </div>



    <ul class="benefits-row benefits-margin-row">
      <li class="benefits-col-8 benefits-col-tablet-6 benefits-col-mobile-12">
      </li>

      <li class="benefits-col-4 benefits-col-tablet-6 benefits-col-mobile-12 benefit-item">
        <div class="benefits-row">
          <div class="benefit-icon">
            <svg>
              <use href="./img/icons/icons.svg#icon-user"></use>
            </svg>
          </div>
        </div>
        <div class="benefits-row">
          <h4 class="black-theme-text">Expertise</h4>
        </div>
        <div class="benefits-row">
          <p class="body1 black-theme-text">With extensive experience in development, I have a deep understanding of programming and website development.</p>
        </div>
      </li>
      <li class="benefits-col-4 benefits-col-tablet-6 benefits-col-mobile-12 benefit-item">
        <div class="benefits-row">
          <div class="benefit-icon">
            <svg>
              <use href="./img/icons/icons.svg#icon-message-chat-circle"></use>
            </svg>
          </div>
        </div>
        <div class="benefits-row">
          <h4 class="black-theme-text">Communication</h4>
        </div>
        <div class="benefits-row">
          <p class="body1 black-theme-text">Understanding your needs and wants is my priority and I am always available for discussions and open to corrections.</p>
        </div>
      </li>

      <li class="benefits-col-4 benefits-col-tablet-6 benefits-col-mobile-12 benefit-item">
        <div class="benefits-row">
          <div class="benefit-icon">
            <svg>
              <use href="./img/icons/icons.svg#icon-brush"></use>
            </svg>
          </div>
        </div>
        <div class="benefits-row">
          <h4 class="black-theme-text">Art</h4>
        </div>
        <div class="benefits-row">
          <p class="body1 black-theme-text">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
        </div>
      </li>

      <li class="benefits-col-4 benefits-col-tablet-6 benefits-col-mobile-12 benefit-item">
        <div class="benefits-row">
          <div class="benefit-icon">
            <svg>
              <use href="./img/icons/icons.svg#icon-hourglass"></use>
            </svg>
          </div>
        </div>
        <div class="benefits-row">
          <h4 class="black-theme-text">Urgent execution</h4>
        </div>
        <div class="benefits-row">
          <p class="body1 black-theme-text">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
        </div>
      </li>
    </ul>
  </div>
</section>