<section>
  <div class="container">
    <div class="block-faq">
      <h2 class="title-faq">
        frequently asked
        <span class="span-title-faq" data-dark-class="dark-theme-green-color"
          >question</span
        >
      </h2>
      <div class="accordion-container">
        <div
          class="ac"
          data-dark-class="dark-theme-bg-transperent dark-theme-border-none"
          data-dark-class-active="dark-theme-dark-green-background"
        >
          <h2 class="ac-header">
            <button
              type="button"
              class="ac-trigger"
              data-dark-class="dark-theme-cl"
            >
              What programming languages ​​are most often used in your project?
              <span class="ac-span-icon">
                <svg class="ac-icon" data-dark-class="dark-theme-stroke">
                  <use
                    xlink:href="./img/icons/icons.svg#icon-chevron-down"
                  ></use>
                </svg>
              </span>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text" data-dark-class="dark-theme-cl">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </div>

        <div
          class="ac"
          data-dark-class="dark-theme-bg-transperent dark-theme-border-none"
          data-dark-class-active="dark-theme-dark-green-background"
        >
          <h2 class="ac-header">
            <button
              type="button"
              class="ac-trigger"
              data-dark-class="dark-theme-cl"
            >
              What are the deadlines for the project?
              <span class="ac-span-icon">
                <svg class="ac-icon" data-dark-class="dark-theme-stroke">
                  <use
                    xlink:href="./img/icons/icons.svg#icon-chevron-down"
                  ></use>
                </svg>
              </span>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text" data-dark-class="dark-theme-cl">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </div>

        <div
          class="ac"
          data-dark-class="dark-theme-bg-transperent dark-theme-border-none"
          data-dark-class-active="dark-theme-dark-green-background"
        >
          <h2 class="ac-header">
            <button
              type="button"
              class="ac-trigger"
              data-dark-class="dark-theme-cl"
            >
              What payment methods do you accept?
              <span class="ac-span-icon">
                <svg class="ac-icon" data-dark-class="dark-theme-stroke">
                  <use
                    xlink:href="./img/icons/icons.svg#icon-chevron-down"
                  ></use>
                </svg>
              </span>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text" data-dark-class="dark-theme-cl">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </div>

        <div
          class="ac"
          data-dark-class="dark-theme-bg-transperent dark-theme-border-none"
          data-dark-class-active="dark-theme-dark-green-background"
        >
          <h2 class="ac-header">
            <button
              type="button"
              class="ac-trigger"
              data-dark-class="dark-theme-cl"
            >
              How can I contact you?
              <span class="ac-span-icon">
                <svg class="ac-icon" data-dark-class="dark-theme-stroke">
                  <use
                    xlink:href="./img/icons/icons.svg#icon-chevron-down"
                  ></use>
                </svg>
              </span>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text" data-dark-class="dark-theme-cl">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </div>

        <div
          class="ac"
          data-dark-class="dark-theme-bg-transperent dark-theme-border-none"
          data-dark-class-active="dark-theme-dark-green-background"
        >
          <h2 class="ac-header">
            <button
              type="button"
              class="ac-trigger"
              data-dark-class="dark-theme-cl"
            >
              Do you provide advice or support?
              <span class="ac-span-icon">
                <svg class="ac-icon" data-dark-class="dark-theme-stroke">
                  <use
                    xlink:href="./img/icons/icons.svg#icon-chevron-down"
                  ></use>
                </svg>
              </span>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text" data-dark-class="dark-theme-cl">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </div>

        <div
          class="ac"
          data-dark-class="dark-theme-bg-transperent dark-theme-border-none"
          data-dark-class-active="dark-theme-dark-green-background"
        >
          <h2 class="ac-header">
            <button
              type="button"
              class="ac-trigger"
              data-dark-class="dark-theme-cl"
            >
              What does the process of developing a software product look like
              from idea to implementation?
              <span class="ac-span-icon">
                <svg class="ac-icon" data-dark-class="dark-theme-stroke">
                  <use
                    xlink:href="./img/icons/icons.svg#icon-chevron-down"
                  ></use>
                </svg>
              </span>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text" data-dark-class="dark-theme-cl">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
