<footer>
  <div class="container footer-container">
    <div class="flex-link">
      <a class="footer-logo" href="#header" data-dark-class="dark-theme-cl"
        >lloyd<span
          class="footer-last-name"
          data-dark-class="dark-theme-green-color"
          >jefferson.</span
        ></a
      >
      <ul class="footer-list">
        <li class="footer-social-link">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            data-dark-class="dark-theme-cl dark-theme-green-color-hover"
            >Instagram</a
          >
        </li>
        <li class="footer-social-link">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            data-dark-class="dark-theme-cl dark-theme-green-color-hover"
            >Facebook</a
          >
        </li>
        <li class="footer-social-link">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
            target="_blank"
            data-dark-class="dark-theme-cl dark-theme-green-color-hover"
            >Linkedin</a
          >
        </li>
        <li class="footer-social-link">
          <a
            href="https://github.com/IhorMtr/project-Codezilla"
            target="_blank"
            data-dark-class="dark-theme-cl dark-theme-green-color-hover"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p class="footer-copyright-link" data-dark-class="dark-theme-cl">
        &copy; Copyright 2025. Made by LloydJefferson
      </p>
    </div>
  </div>
</footer>
