<section>
    <div class="footer-container">
    <a href="#" class="footer-logo">lloyd<span class="footer-last-name">jefferson.</span></a>
    <ul class="footer-list">
        <li class="footer-social-link"><a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a></li>
        <li class="footer-social-link"><a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a></li>
        <li class="footer-social-link"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it/" target="_blank">Linkedin</a></li>
        <li class="footer-social-link"><a href="https://github.com/IhorMtr/project-Codezilla" target="_blank">GitHub</a></li>
    </ul>
</div>
<div class="footer-copyright">
<a class="footer-copyright-link" href="">&copy; Copyright 2024. Made by LloydJefferson</a></div>
</section>