<header>
  <div class="container">
    <a href="#" class="logo-header"
      >lloyd<span class="span-header-last-name">jefferson.</span></a
    >
    <nav class="nav-title">
      <ul class="nav-list">
        <li class="nav-item">
          <label class="switch-header">
            <input type="checkbox" />
            <span class="switch-slider round"></span>
          </label>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="#about-me">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="burger-btn">
      <svg class="burger-svg" width="32" height="32">
        <use href="../img/icons/icons.svg#icon-burger-btn"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" id="mobile-menu" data-dark-class="dark-theme">
    <div class="mobile-menu-head">
      <a href="#" class="logo-header"
        >lloyd<span class="span-header-last-name">jefferson.</span></a
      >

      <button class="mobile-close-btn">
        <svg class="mobile-close-svg" width="32" height="32">
          <use href="../img/icons/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-footer">
      <ul class="mobile-list">
        <li class="mobile-list-item">
          <label class="switch-header">
            <input type="checkbox" />
            <span class="switch-slider round"></span>
          </label>
        </li>
        <li class="mobile-list-item">
          <a class="mobile-list-item-link" href="#about-me">About me</a>
        </li>
        <li class="mobile-list-item">
          <a class="mobile-list-item-link" href="#projects">Projects</a>
        </li>
        <li class="mobile-list-item">
          <a class="mobile-list-item-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>