<section>
    <svg class="test-svg" width="32" height="32">
        <use href="../img/icons/icons.svg#icon-switch-light"></use>
      </svg>
    <div class="header-container">
      <a href="#" class="logo-header">lloyd<span class="span-last-name">jefferson.</span></a>
  
      <nav class="nav-title">
        <ul class="nav-list">
          <li class="nav-item">
            <button class="switch-btn">
                <picture class="switch-light-svg">
                    <source srcset="../img/webp/switch-light@2x.webp 2x, ../img/webp/switch-light.webp 1x" type="image/webp">
                    <img src="../img/webp/switch-light.webp" alt="switch-light">
                </picture>
                <picture class="switch-dark-svg">
                    <source srcset="../img/webp/switch-dark@2x.webp 2x, ../img/webp/switch-dark.webp 1x" type="image/webp">
                    <img src="../img/webp/switch-dark.webp" alt="switch-dark">
                </picture>
            </button>
          </li>
          <li class="nav-item"><a class="nav-item-link" href="#about-me">About me</a></li>
          <li class="nav-item"><a class="nav-item-link" href="#projects">Projects</a></li>
          <li class="nav-item"><a class="nav-item-link" href="#contacts">Contacts</a></li>
        </ul>
      </nav>
  
      <button class="burger-btn">
        <svg class="burger-svg" width="32" height="32">
          <use href="../img/icons/icons.svg#icon-burger-btn"></use>
        </svg>
      </button>
    </div>
  
    <div id="modal" class="modal">
      <div class="modal-header">
        <a href="#" class="logo-header">lloyd<span class="span-last-name">jefferson</span></a>
        <button class="switch-btn">
            <picture class="switch-light-svg">
                <source srcset="../img/webp/switch-light@2x.webp 2x, ../img/webp/switch-light.webp 1x" type="image/webp">
                <img src="../img/webp/switch-light.webp" alt="switch-light">
            </picture>
            <picture class="switch-dark-svg">
                <source srcset="../img/webp/switch-dark@2x.webp 2x, ../img/webp/switch-dark.webp 1x" type="image/webp">
                <img src="../img/webp/switch-dark.webp" alt="switch-dark">
            </picture>
        </button>
        <button class="close-btn">
          <svg class="close-svg" width="32" height="32">
            <use href="../img/icons/icons.svg#icon-x"></use>
          </svg>
        </button>
      </div>
  
      <nav class="nav-container">
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-item-link" href="#about-me">About me</a></li>
          <li class="nav-item"><a class="nav-item-link" href="#projects">Projects</a></li>
          <li class="nav-item"><a class="nav-item-link" href="#contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </section>