<section>
  <div class="container">
    <div class="hero-bgnd-img">
      <h1 class="hero-headline">
        <span class="hero-text-black" data-dark-class="dark-theme-cl"
          >Hello, I am</span
        >
        <picture class="hero-headline-img hidden">
          <source
            srcset="./img/webp/hero-img@2x.webp 2x, ./img/webp/hero-img.webp 1x"
            type="image/webp"
          />
          <img src="./img/webp/hero-img.webp" alt="Developer photo" /> </picture
        ><span class="hero-text-color" data-dark-class="dark-theme-green-color"
          >Fullstack developer</span
        >
      </h1>
      <div class="wrapper">
        <a href="#contacts" class="hero-btn">
          <svg class="hero-btn-arrow" width="30">
            <use href="./img/icons/icons.svg#icon-arrow-right"></use>
          </svg>
          <span class="caption">Order the project</span>
          <span
            class="hero-btn-rectangle"
            data-dark-class="dark-theme-green-background dark-theme-background-hover"
          ></span>
        </a>
        <p class="hero-text caption">
          I work with people all over the world to create
          <span class="hero-text-color">impressive</span> and
          <span class="hero-text-color">functional websites</span> that reflect
          each client’s unique personality.
        </p>
      </div>
    </div>
    <ul class="hero-socials">
      <li class="hero-social-link">
        <a href="https://www.instagram.com/goitclub/" target="_blank"
          >Instagram</a
        >
      </li>
      <li class="hero-social-link">
        <a href="https://www.facebook.com/goITclub/" target="_blank"
          >Facebook</a
        >
      </li>
      <li class="hero-social-link">
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
          target="_blank"
          >Linkedin</a
        >
      </li>
      <li class="hero-social-link">
        <a href="https://github.com/IhorMtr/project-Codezilla" target="_blank"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
