<section id="my_projects">
  <div class="container">
    <h2 class="my_projects-header">
      MY
      <span class="my_projects-span" data-dark-class="dark-theme-green-color"
        >PROJECTS</span
      >
    </h2>
    <ul class="my_projects-list"></ul>
    <button
      type="button"
      id="load-more"
      data-dark-class="dark-theme-cl dark-theme-green-color-hover"
    >
      Load more
      <div
        class="load-more-line"
        data-dark-class="dark-theme-green-background"
      ></div>
    </button>
  </div>
</section>
