<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="swiper">
      <li class="swiper-wrapper"></li>
      <li class="swiper-button-wrapper">
        <div
          class="swiper-button-prev"
          data-dark-class="dark-theme-border-full dark-theme-charcoal-background-hover"
        >
          <svg
            class="swiper-button-icon-prev"
            data-dark-class="dark-theme-stroke"
          >
            <use href="./img/icons/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
        <div
          class="swiper-button-next"
          data-dark-class="dark-theme-border-full dark-theme-charcoal-background-hover"
        >
          <svg
            class="swiper-button-icon-next"
            data-dark-class="dark-theme-stroke"
          >
            <use href="./img/icons/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
