<div class="container">
  <h2 class="reviews-title">Reviews</h2>
  <ul class="swiper">
    <li class="swiper-wrapper">
      <div class="swiper-slide">
        <blockquote class="swiper-slide-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </blockquote>
        <div class="swiper-slide-content-wrapper">
          <div
            style="
              height: 40px;
              width: 40px;
              background-color: red;
              border-radius: 24px;
            "
          ></div>
          <h3 class="swiper-slide-title">Natalia Shevchenko</h3>
        </div>
      </div>
      <div class="swiper-slide">
        <blockquote class="swiper-slide-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </blockquote>
        <div class="swiper-slide-content-wrapper">
          <div
            style="
              height: 40px;
              width: 40px;
              background-color: red;
              border-radius: 24px;
            "
          ></div>
          <h3 class="swiper-slide-title">Natalia Shevchenko</h3>
        </div>
      </div>
      <div class="swiper-slide">
        <blockquote class="swiper-slide-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </blockquote>
        <div class="swiper-slide-content-wrapper">
          <div
            style="
              height: 40px;
              width: 40px;
              background-color: red;
              border-radius: 24px;
            "
          ></div>
          <h3 class="swiper-slide-title">Natalia Shevchenko</h3>
        </div>
      </div>
    </li>
    <li class="swiper-button-wrapper">
      <div class="swiper-button-prev">
        <svg class="swiper-button-icon-prev">
          <use xlink:href="./img/icons/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-button-icon-next">
          <use xlink:href="./img/icons/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </li>
  </ul>
</div>
