<section class="tech-skills">
  <div class="container marquee">
    <ul class="tech-skills-list">
      <li class="tech-skills-item">HTML/CSS</li>
      <li class="tech-skills-item">JavaScript</li>
      <li class="tech-skills-item">React</li>
      <li class="tech-skills-item">Node.js</li>
      <li class="tech-skills-item">React Native</li>
      <li class="tech-skills-item">TypeScript</li>
      <li class="tech-skills-item">HTML/CSS</li>
      <li class="tech-skills-item">JavaScript</li>
      <li class="tech-skills-item">React</li>
      <li class="tech-skills-item">Node.js</li>
      <li class="tech-skills-item">React Native</li>
      <li class="tech-skills-item">TypeScript</li>
    </ul>
  </div>
  <div class="container marquee tech-second-container">
    <ul class="tech-skills-list tech-second-list">
      <li class="tech-skills-item">HTML/CSS</li>
      <li class="tech-skills-item">JavaScript</li>
      <li class="tech-skills-item">React</li>
      <li class="tech-skills-item">Node.js</li>
      <li class="tech-skills-item">React Native</li>
      <li class="tech-skills-item">TypeScript</li>
      <li class="tech-skills-item">HTML/CSS</li>
      <li class="tech-skills-item">JavaScript</li>
      <li class="tech-skills-item">React</li>
      <li class="tech-skills-item">Node.js</li>
      <li class="tech-skills-item">React Native</li>
      <li class="tech-skills-item">TypeScript</li>
    </ul>
  </div>
</section>
