<section class="tech-skills">
  <div class="container marquee">
    <ul class="tech-skills-list marquee__inner">
      <li class="tech-skills-item marquee__line">HTML/CSS</li>
      <li class="tech-skills-item marquee__line">JavaScript</li>
      <li class="tech-skills-item marquee__line">React</li>
      <li class="tech-skills-item marquee__line">Node.js</li>
      <li class="tech-skills-item marquee__line">React Native</li>
      <li class="tech-skills-item marquee__line">TypeScript</li>
      <li class="tech-skills-item marquee__line">HTML/CSS</li>
      <li class="tech-skills-item marquee__line">JavaScript</li>
      <li class="tech-skills-item marquee__line">React</li>
      <li class="tech-skills-item marquee__line">Node.js</li>
      <li class="tech-skills-item marquee__line">React Native</li>
      <li class="tech-skills-item marquee__line">TypeScript</li>
    </ul>
  </div>
</section>
