<section class="contacts" id="contacts">
  <div class="contacts-container container" data-dark-class="dark-theme-cl-bg">
    <h2 class="contacts-title">
      Let's
      <span class="main-color" data-dark-class="dark-theme-green-color"
        >work together</span
      >
    </h2>
    <div class="contacts-info">
      <div class="contacts-info-text">
        <p class="contacts-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <address class="contacts-address">
          <ul>
            <li>
              <svg
                class="contacts-icon"
                width="24"
                height="24"
                data-dark-class="dark-theme-green-stroke"
              >
                <use href="./img/icons/icons.svg#icon-phone"></use>
              </svg>
              <a
                class="contacts-link"
                href="tel:+380904567890"
                data-dark-class="dark-theme-green-color-hover"
                >+38 090 456 78 90</a
              >
            </li>
            <li>
              <svg
                class="contacts-icon"
                width="24"
                height="24"
                data-dark-class="dark-theme-green-stroke"
              >
                <use href="./img/icons/icons.svg#icon-mail"></use>
              </svg>
              <a
                class="contacts-link"
                href="mailto:lloydjefferson@gmail.com"
                data-dark-class="dark-theme-green-color-hover"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li>
              <svg
                class="contacts-icon"
                width="24"
                height="24"
                data-dark-class="dark-theme-green-stroke"
              >
                <use href="./img/icons/icons.svg#icon-location"></use>
              </svg>
              <a
                class="contacts-link"
                href=""
                data-dark-class="dark-theme-green-color-hover"
                >USA, New York</a
              >
            </li>
          </ul>
        </address>
      </div>
      <form class="contacts-form">
        <label class="input-wrap">
          <svg
            class="success-filled visually-hidden"
            width="16"
            height="16"
            data-dark-class="dark-theme-green-fill"
          >
            <use href="./img/icons/icons.svg#icon-success-filled"></use>
          </svg>
          <input
            class="form-input"
            type="text"
            name="email"
            placeholder="Your email*"
            required
            data-dark-class="dark-theme-cl dark-theme-cl-placeholder dark-theme-charcoal-background"
          />
          <span class="error-message visually-hidden"
            >Invalid email, try again</span
          >
        </label>
        <textarea
          name="message"
          placeholder="Message"
          data-dark-class="dark-theme-cl dark-theme-cl-placeholder dark-theme-charcoal-background"
        ></textarea>
        <button
          type="submit"
          data-dark-class="dark-theme-green-background dark-theme-background-hover"
        >
          Send message
        </button>
      </form>
    </div>
  </div>
  <div class="contacts-backdrop contacts-is-hidden">
    <div
      class="contacts-modal"
      data-dark-class="dark-theme-charcoal-background"
    >
      <button type="button" class="contacts-modal-btn" data-modal-close>
        <svg
          class="modal-btn-icon"
          width="24"
          height="24"
          data-dark-class="dark-theme-stroke"
        >
          <use href="./img/icons/icons.svg#icon-x"></use>
        </svg>
      </button>
      <h3
        class="contacts-modal-title caption"
        data-dark-class="dark-theme-green-color"
      >
        Thank you for your interest in cooperation!
      </h3>
      <p class="contacts-modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</section>
