<section class="contacts" id="contacts">
  <div class="contacts-container container">
    <h2 class="contacts-title">
      Let's <span class="main-color">work together</span>
    </h2>
    <div class="contacts-info">
      <div class="contacts-info-text">
        <p class="contacts-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <address class="contacts-address">
          <ul>
            <li>
              <svg class="contacts-icon" width="24" height="24">
                <use href="../img/icons/icons.svg#icon-phone"></use>
              </svg>
              <a class="contacts-link" href="tel:+380904567890" target="_blank"
                >+38 090 456 78 90</a
              >
            </li>
            <li>
              <svg class="contacts-icon" width="24" height="24">
                <use href="../img/icons/icons.svg#icon-mail"></use>
              </svg>
              <a
                class="contacts-link"
                href="mailto:lloydjefferson@gmail.com"
                target="_blank"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li>
              <svg class="contacts-icon" width="24" height="24">
                <use href="../img/icons/icons.svg#icon-location"></use>
              </svg>
              <a class="contacts-link" href="" target="_blank">USA, New York</a>
            </li>
          </ul>
        </address>
      </div>
      <form class="contacts-form">
        <label class="input-wrap">
          <svg class="success-filled visually-hidden" width="16" height="16">
            <use href="../img/icons/icons.svg#icon-success-filled"></use>
          </svg>
          <input
            class="form-input"
            type="text"
            name="email"
            placeholder="Your email*"
            required
          />
          <span class="error-message visually-hidden"
            >Invalid email, try again</span
          >
        </label>
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Send message</button>
      </form>
    </div>
  </div>
  <div class="contacts-backdrop contacts-is-hidden">
    <div class="contacts-modal">
      <button type="button" class="contacts-modal-btn" data-modal-close>
        <svg class="modal-btn-icon" width="24" height="24">
          <use href="../img/icons/icons.svg#icon-x"></use>
        </svg>
      </button>
      <h3 class="contacts-modal-title caption">
        Thank you for your interest in cooperation!
      </h3>
      <p class="contacts-modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</section>
