.about-me-headline {
  margin-bottom: 40px;
}
.about-me-color-headline {
  color: var(--accet-green);
}
.about-me-img-wrapper {
  border-radius: 16px;
  max-width: 320px;
  height: 374px;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 40px;
}
.about-me-bio-headline {
  margin-bottom: 32px;
}
.about-me-bio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}
.about-me-bio {
  margin-bottom: 40px;
}
.about-me-education-headline {
  margin-bottom: 32px;
}

.about-me-education-list {
  list-style: none;
  padding-left: 0;
}

.about-me-education-list-item {
  position: relative;
  padding-left: 20px;
}

.about-me-education-list-item::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #00b068;
  font-size: 20px;
  line-height: 1;
}
.about-me-education-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.about-me-education {
  margin-bottom: 40px;
}
.about-me-role-headline {
  font-size: 32px;
  margin-bottom: 32px;
}

.about-me-role-list {
  list-style: none;
  padding-left: 0;
}

.about-me-role-list-item {
  position: relative;
  padding-left: 20px;
}

.about-me-role-list-item::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #00b068;
  font-size: 20px;
  line-height: 1;
}
.about-me-role-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .about-me-headline {
    font-size: 108px;
  }
  .about-me-img-wrapper {
    width: 336px;
    height: 392px;
    flex-shrink: 0;
  }
  .wrap {
    display: flex;
    gap: 32px;
  }
  .about-me-img-wrapper {
    margin-top: 408px;
  }
  .about-me-education,
  .about-me-role {
    flex: 1;
  }
  .about-me-section {
    background-image: url('../img/abot-me-background-tablet.png');
    background-size: 336px 252px;
    background-position: 368px 856px;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1280px) {
  .about-me-img-wrapper {
    width: 384px;
    height: 448px;
    margin-top: 312px;
  }
  .wrap {
    margin-left: 208px;
    gap: 136px;
    justify-content: flex-end;
  }
  .about-me-bio {
    width: 488px;
    height: 488px;
  }
  .about-me-section {
    background-position: 864px 692px;
    background-size: 384px 288px;
  }
}
