.text-uppercase {
  text-transform: uppercase;
}

.accet-green {
  color: var(--accet-green);
}

.container-benefits {
  position: relative;
}

.benefits-decor-image-container {
  display: none;
}

.benefits-row {
  display: flex;
  flex-wrap: wrap;
}

.benefits-col {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.benefits-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.benefit-item > div {
  margin-top: 16px;
}

li.benefits-row:first-child {
  margin-left: 66.6666%;
}

.benefit-item {
  padding: 8px;
}

.benefit-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: var(--light-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit-icon svg {
  width: 24px;
  height: 24px;
  stroke: var(--accet-green)
}

.benefits-margin-row {
  margin-top: 8px;
}

@media (min-width: 767px) {
  .benefits-decor-image-container {
    display: block;
    position: absolute;
    top: -100px;
    right: 0;
  }
  li.benefits-row:first-child {
    margin-left: 0;
  }

  .benefits-col-tablet-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .benefits-col-tablet-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .benefits-margin-row {
    margin-top: -100px;
  }
}

@media (min-width: 1280px) {
  li.benefits-row:first-child {
    margin-left: 50%;
  }

  .benefits-col-desktop-4{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .benefits-col-desktop-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }

}



