.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

.logo-header {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--black);
}

.span-last-name {
    color: var(--accet-green);
}

.burger-btn {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.burger-svg,
.close-svg,
.switcher-light {
    fill: var(--black);
    width: 32px;
    height: 32px;
    stroke: var(--black);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 0 20px;
}

.modal.active {
    transform: translateX(0);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex; 
    align-items: center;
}

.nav-container {
    margin: 16px auto;
    width: 100%;
    height: 100%;
    padding: 260px 119px 324px;
    background-image: url('../img/webp/header-modal-decor.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.nav-item-link {
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
    transition: color 0.3s;
    font-weight: 300;
letter-spacing: 0.03em;
}

.nav-item-link:hover {
    color: var(--accet-green);
}

body.no-scroll {
    overflow: hidden;
}

.nav-title {
    display: none;
}

@media (min-width: 768px) {

    .header-container {
        padding: 36px 32px;
      }

      .nav-title {
        display: block;
    }

      .nav-title .nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
      }

    .burger-btn {
        display: none;
    }

    .modal {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        gap: 40px;
    }

    .nav-item-link {
        font-size: 16px;
    }
}

.switch-btn {
    border: none;
    padding: 0;
}

.switch-light-svg {

}

.switch-dark-svg {
    display: none;
    background-color: var(--black);
}

