.hero-headline {
  color: #292929;
  padding-top: 96px;
  margin-bottom: 40px;
}

.hero-btn {
  display: inline-flex;
  height: 92px;
  width: 100%;
  padding: 32px 0;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.hero-btn-arrow {
  stroke: #00b068;
  fill: #00b068;
  height: 100%;
  margin-right: 12px;
}
.hero-btn-rectangle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #bcdfd1;
  z-index: -1;
  border-radius: 16px;
  width: 165px;
  height: 92px;
  transition: background-color 0.3s ease-in-out;
}

.hero-text-color {
  color: var(--accet-green);
}
.hero-text-black {
  color: var(--black);
}
.hero-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 232px;
  background-color: #e4e5e6;
  width: 100vw; /* Занимает всю ширину окна */
  margin-left: calc(-50vw + 50%); /* Центрирует фон относительно страницы */
}
.hero-bgnd-img {
  background-image: url('../img/hero-background-mobile.png');
  background-repeat: no-repeat;
  padding-bottom: 72px;
  background-size: contain;
}
.hero-headline-img {
  display: inline-block;
  width: 108px;
  height: 108px;
  margin-left: 40px;
  border-radius: 16px;
  overflow: hidden;
}
.hidden {
  display: none;
}
.wrapper {
  display: block;
}
@media only screen and (min-width: 768px) {
  .hero-bgnd-img {
    background-image: url('../img/hero-background-tablet.png');
    padding-bottom: 80px;
  }
  .hero-btn {
    width: 416px;
    height: 96px;
    z-index: 1;
  }
  .hero-btn-rectangle {
    width: 261px;
    height: 96px;
  }
  .hero-btn-text {
    font-size: 20px;
  }
  .hero-headline {
    padding-top: 72px;
    margin-bottom: 60px;
  }
  .hero-text {
    font-size: 20px;
  }
  .hero-socials {
    flex-direction: row;
    gap: 40px;
    height: 104px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-bgnd-img {
    background-image: url('../img/hero-background-dt.png');
    padding-bottom: 116px;
  }
  .hidden {
    display: inline-block;
  }
  .wrapper {
    display: flex;
    justify-self: flex-end;
    gap: 136px;
  }
  .hero-text {
    width: 592px;
    height: 96px;
  }
  .hero-headline {
    padding-top: 168px;
  }
  .hero-btn:hover .hero-btn-rectangle {
    background: #00b068;
  }
  .hero-social-link:hover {
    color: #00b068;
  }
}
