.my_projects-header{
    text-align: center;
}
.my_projects-span{
    color: #00B068;
}
.my_projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 320px;
    
}
.my_projects-img{
    width: 320px;
    height:184px;
    border-radius: 12px;

}
.my_projects-info-container{
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;
}
.my_projects-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.my_projects-button{
    width: 125px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
    background: #e4e5e6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 12px;
    border: 0;
}
.my_projects-icon{
    fill: #00B068;
    stroke: #00B068;
}
.my_projects-button:hover, .my_projects-button:focus{
    background-color: #bbb;
    transition: 0.7s;
}

#my_projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
#load-more {
    gap: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 165px;
    height: 56px;
    background-color: transparent;
    border: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
}
#load-more:hover, #load-more:focus{
    color:#00B068;
    transition: 0.7s;
}
.load-more-line {
    width: 117px;
    height: 2px;
    background-color: #00B068;
    margin: 0 auto;
    /* center underline */
}
@media only screen and (min-width: 768px) {
    .my_projects-list {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            margin-top: 60px;
            margin-bottom: 60px;
            width: 704px;
    
        }
.my_projects-img {
        width: 704px;
        height: 404px;
        border-radius: 24px;

    }
        .my_projects-info-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: row;
        }
        .my_projects-info {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
        }
}
@media only screen and (min-width: 1280px) {
    .my_projects-list {
            display: flex;
            flex-wrap: wrap;
            gap: 80px;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 1008px;
    
        }
    .my_projects-img {
            width: 1008px;
            height: 580px;
    
        }
}