.tech-skills-list {
  display: flex;
  gap: 56px;
  padding: 32px 0;
  align-items: center;
  justify-content: center;
}

.tech-skills-item {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  position: relative;
}

.tech-skills-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.tech-skills-item::before {
  content: '';
  position: absolute;
  left: -56px;
  bottom: -8px;
  margin: 24px;
  border-radius: 2px;
  width: 8px;
  height: 8px;
  background-color: var(--accet-green);
}

.marquee {
  position: relative;
  z-index: 2;
  overflow: hidden;
  font-family: 'Pridi', sans-serif;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  background-color: var(--light-accent);
}

.marquee__inner {
  display: flex;
  width: fit-content;
  animation: marqueeLine 20s linear infinite;
}

.marquee__line {
  flex-shrink: 0;
  white-space: nowrap;
}

@keyframes marqueeLine {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tech-second-container {
  transform: rotate(2deg);
  background-color: var(--light-grey);
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.tech-second-list {
  animation: marqueeLineReverse 20s linear infinite;
}

@keyframes marqueeLineReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.tech-second-list .tech-skills-item::before {
  background-color: var(--black);
}
.tech-second-list .tech-skills-item {
  color: var(--accet-green);
}

@media only screen and (min-width: 768px) {
  .tech-skills-list {
    padding: 40px;
  }

  .tech-skills-item {
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }

  .tech-second-container {
    margin-top: 5px;
  }

  .tech-skills-item::before {
    bottom: -5px;
  }
}
